.box{
    height: 10  px;
    width: 100px;
    text-decoration-color:white;
    text-align: center;
    border: 10cm;
    margin: 1cm;
    border-color: #a4b320;
    background-color:white
    align-content: center;
}

